body {
  margin: 0;
  font-family: Arial;
  background: #f1f5f9;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: #4a6cf7;
  color: white;
  border: none;
  cursor: pointer;
}