.sidebar {
  width: 250px;
  min-height: 100vh;
  background: #1e293b;
  color: white;
  padding: 30px 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  background: #334155;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #475569;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}